version: "3.9"

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    environment:
      - PORT=4000
      - DB_URL=mongodb://mongo:27017
      - FILE_DB_URL=mongodb://mongo:27017/fseaFiledb
      - SECRET_KEY=vnrvjiet
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      - VITE_API_URL=http://localhost:4000
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo-data:
